*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    background-color: #1F2937;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color: #FFF;
    padding: 0 200px 0 200px;
    
    
}

.header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.imgcar{
    width: 400px;
    height: auto;
    padding-bottom: 40px;
}

.flexcontainer1{
    display: flex;
    background-color: #1F2937;
    height: 400px;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px 0 200px;
}

.herocontainer{
    width: 400px;
    height: 250px;
}

.herocontainer h1{
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

.herocontainer p{
    font-size: 18px;
    color: #E5E7EB;
    padding: 15px 0;
}

.signupbutton{
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 10px 30px 10px 30px;
    border-radius: 8px;
    
}
